<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<form th:action="@{/agregarContribuyente}" th:object="${contribuyente}" method="post">
		<select th:field="*{importancia}">
    		<option th:each="importancia, row:${importancias}" th:value="${importancia.cImportancia}" th:text="${importancia.sImportancia}"></option>
		</select>
		<br><br>
		
		<p><span th:field="*{fechaIngreso}" th:text="${fecha_ingreso}" ></span></p>
		
		<label>Nombre: </label>
		<input th:field="*{nombre}" type="text">
		<span th:errors="*{nombre}" style="color:#E81505"></span>
		<br>
		
		<label>Apellido: </label>
		<input th:field="*{apellido}" type="text">
		<span th:errors="*{apellido}" style="color:#E81505"></span>
		<br>
		
		<label>NIT: </label>
		<input th:field="*{nit}" type="number"><br>
		<span th:errors="*{nit}" style="color:#E81505"></span>
		<br>
		
		<input type="submit" value="Guardar">
	</form>
	<form th:action="@{/verContribuyentes}">
    	<input type="submit" value="Ver contribuyentes">
	</form>
</body>
</html>